<div class= "description">Parallax Example Page</div>


<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">



<!-- Not working for responsive layout due to this div not resizing maybe a panel or section is better -->
  <section class="mid">  
    <h3> Cool overlay div with content </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, ipsa nemo possimus qui dolores excepturi dolore recusandae. Labore distinctio, autem non mollitia earum. Eius laudantium eos repellat esse. Aliquam officia quaerat magnam, repellendus provident unde cumque minima, totam, perspiciatis adipisci eius hic ea! Accusantium vero, est voluptates nisi autem possimus commodi magni repudiandae sunt facilis eos, ipsam ducimus ratione! Exercitationem alias sed fugiat facilis iure, tempora, asperiores quas vero magnam unde ipsa molestiae inventore quam ratione. Harum vero ipsa nostrum laboriosam possimus. Distinctio, omnis? Magni earum cupiditate dolore reiciendis ducimus tenetur laborum, culpa labore in 
    </p>
    </section>
<div id= "box1"></div>

<section id ="section">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit hic aut possimus consequuntur delectus dicta sunt necessitatibus expedita tempora animi iste vitae porro debitis ad, officia eaque fuga ducimus repellat tenetur incidunt ipsa non est assumenda. Doloremque ducimus ex placeat voluptatibus sint. Aliquid nihil quod facilis praesentium dignissimos, quo repellendus.
</section>


 
<div id= "box2">
  <h1>  RYAN'S PARALLAX </h1>
</div>

<section id ="section">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit hic aut possimus consequuntur delectus dicta sunt necessitatibus expedita tempora animi iste vitae porro debitis ad, officia eaque fuga ducimus repellat tenetur incidunt ipsa non est assumenda. Doloremque ducimus ex placeat voluptatibus sint. Aliquid nihil quod facilis praesentium dignissimos, quo repellendus.
</section>


<section id="reactive">
  <h3> As apposed to the div up top this section is responsive- much better solution - center of img</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, ipsa nemo possimus qui dolores excepturi dolore recusandae. Labore distinctio, autem non mollitia earum. Eius laudantium eos repellat esse. Aliquam officia quaerat magnam, repellendus provident unde cumque minima, totam, perspiciatis adipisci eius hic ea! Accusantium vero, est voluptates nisi autem possimus commodi magni repudiandae sunt facilis eos, ipsam ducimus ratione! Exercitationem alias sed fugiat facilis iure, tempora, asperiores quas vero magnam unde ipsa  
    </p>
    </section>


<div id= "box3">
  <h1>  RYAN'S PARALLAX </h1>
</div>


<section id ="section">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit hic aut possimus consequuntur delectus dicta sunt necessitatibus expedita tempora animi iste vitae porro debitis ad, officia eaque fuga ducimus repellat tenetur incidunt ipsa non est assumenda. Doloremque ducimus ex placeat voluptatibus sint. Aliquid nihil quod facilis praesentium dignissimos, quo repellendus.
</section>


<div id= "box4">
  <h1>  RYAN'S PARALLAX </h1>
</div>


<section id ="section">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit hic aut possimus consequuntur delectus dicta sunt necessitatibus expedita tempora animi iste vitae porro debitis ad, officia eaque fuga ducimus repellat tenetur incidunt ipsa non est assumenda. Doloremque ducimus ex placeat voluptatibus sint. Aliquid nihil quod facilis praesentium dignissimos, quo repellendus.
</section>


<div id= "box5">
  <h1>  RYAN'S PARALLAX </h1>
</div>