
<body>
    <div id="left" class="column">
        <div class="top-left">Hello TOP LEFT</div>
        <div class="bottom"> BOTTOM LEFT</div>
    </div>
    <div id="right" class="column">
        <div class="top-right">TOP RIGHT</div>
        <div class="bottom">BOTTOM RIGHT</div>
    </div>
</body>
